$block-height: 740px;

body{
    width: 100%;
}

.wrapper{
    width: 100%;
    height: $block-height;
    background-color: #000000ab;
    position: absolute;
    z-index: 100;
    // margin-top: -20px;
}

.screen_2{
    height: $block-height;
    // padding-top: 20px;
    background-image: url("../img/samuel-zeller-34751-unsplash.jpg") ;
    background-size: 100%;
}

.top_menu{
    width: 95%;
    margin: 20px auto;
    background: whitesmoke;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.logo{
    z-index: 10;
}

.top-menu{
    a{
        color: white;
        line-height: 50px;
    }

    a:hover{
        color: white;
    }

    span{
        @extend a;
        text-align: center;
    }

    img{
        line-height: 50px;
        display:inline-block;
        // margin: 50%;
    }
}

.content-2{
    margin-left:5%;
    margin-top: 8%;
    color: white;
}

.content-2{
    h1{
        font-size: 72px;
        z-index: 10;
        position: relative;
    }

    li{
        font-size: 20px;
        z-index: 10;
        position: relative;
        // width: 100%;
    }

    p{
        @extend li;
        width: 70%;
    }
}
    .line{
        margin:10px 0 0 0;
        // font-size:78px;

        h1 {
            font-size:78px;
        }

        li {
            font-size: 20px;
            list-style-image: url('../img/Vector Smart Object1.png');
            line-height: 30px;
            // padding-left: 15px;
        }
    }


    .line-head{
        display:table;
        // margin: 50px auto 0;
        h1 {
            position:relative;
            &::after {
                content:"";
                display:block;
                height:12px;
                width:100%;
                background-color:blue;
                position:absolute;
                bottom:9px;
                z-index:-1;
            }
        }
    }

    .line-li{
        display: table;
        li {
            position:relative;
            &::after {
                content:"";
                display:block;
                height:4px;
                width:100%;
                background-color:blue;
                position:absolute;
                bottom:5px;
                z-index:-1;
                // display: none;
            }
        }
    }
    
.slider{
    img{
        margin-top: 8%;
        position: absolute;
        margin-left: -55%;
    }

    p{
        position: absolute;
        z-index: 2;
        width: 219px;
        height: 59px;
        background: blue;
        color: white;
        text-align: center;
        line-height: 59px;
        top: 90%;
        left: -55%;
    }
}
    
