<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
        link(rel="stylesheet", href="build/css/screen_2.css")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
        script(src="build/js/slider.js")
        title Managment&Solutions
    body
        .screen_2
            .wrapper
                .top-menu
                    .container-fluid
                        .row
                            .col-xl-8
                                img.logo(src='build/img/logo_web_site.png')
                            .col-xl-4
                                .sidebar
                                    .container-fluid
                                        .row
                                            .col-xl-12
                                                a(href="tel:8 (800) 476-46-76") 8 (800) 476-46-76
                                                span    /    
                                                a(href="mailto:awdd.wqd@gmail.com") awdd.wqd@gmail.com
                                                span X
                                                nav
                                                    .line
                                                        a(href="#") О нас
                                                    .line
                                                        a(href="#") Наши услуги
                                                    .line
                                                        a(href="#") Команда
                                                    .line
                                                        a(href="#") Контакты
                                                
                                                
                                a(href="tel:8 (800) 476-46-76") 8 (800) 476-46-76
                                span    /    
                                a(href="mailto:awdd.wqd@gmail.com") awdd.wqd@gmail.com
                                span
                                    img(src="build/img/menu (1).png")
                .content-2
                    .container-fluid
                        .row
                            .col-xl-6
                                .line.line-head
                                    h1 Что мы делаем
                                p.undertext Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                                ul
                                    .line
                                        li Разработка
                                    .line
                                        li Маркетинговые исследования
                                    .line
                                        li Дизайн
                                    .line
                                        li Проведение ICO
                                    .line
                                        li Контент
                                    .line
                                        li Digital-Маркетинг
                            .col-xl-6
                                .slider
                                    img.slide-active(src="build/img/jefferson-santos-450403-unsplash.png")
                                    p.label Разработка
                                    .slider-text
                                        h1 Lorem Ipsum
                                        p Lorems
                                    img.slide-preview(src="build/img/Facebook-Post-1.png")
                                    .control-panel
                                        img.left(src="build/img/right-arrow.png")
                                        .span
                                            span#number 1
                                            span /6
                                        img.right(src="build/img/left-arrow.png")
                                //- .sidebar


                                    
                                    

                            

                    
            